<div class="title-bar">
  Object Explorer
</div>
<div class="object-tree">
  <ul *ngIf="queryService.tables && queryService.tables.length">
    <li class="table-name"
        *ngFor="let table of queryService.tables">
      <div class="descricao">
        <span class="plus"
              (click)="table.showColumns = !table.showColumns">+</span>
        {{table.name}}
      </div>
      <ul *ngIf="table.showColumns">
        <li *ngFor="let column of table.columns">{{column}}</li>
      </ul>
    </li>
  </ul>
</div>